.com-chilipeppr-ws-billboard-content {
    padding: 6px 20px;
}
.com-chilipeppr-ws-billboard-title {
    margin-bottom:6px;
}
.com-chilipeppr-ws-billboard-url {
    /* font-size: 9px; */
    padding-top:0px;
    margin-bottom:6px;
    font-size:12px;
}
.com-chilipeppr-ws-billboard-img {
    border:0px solid red;
    border-radius: 5px;
    position: relative;
    width:100%;
    height:160px;
    background-position: center;
    background-size: cover;
}
.com-chilipeppr-ws-billboard-stats {
    position: absolute;
    top: 4px;
    left: 10px;
}
.com-chilipeppr-ws-billboard-desc {
    /* font-size:11px; */
}
.com-chilipeppr-ws-billboard-detail-title {
    font-weight: bold;
}
.com-chilipeppr-ws-billboard-stats2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 4px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.5);
}